<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.cc.xmp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="XMP Perspective"
            class="org.cc.xmp.Perspective"
            id="org.cc.xmp.perspective">
      </perspective>
   </extension>

</plugin>
