<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.cc.dam.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="CC-DAM Perspective"
            class="org.cc.dam.Perspective"
            id="org.cc.dam.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.cc.dam.application"
            name="Digital Asset Management"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.cc.dam.ImportFileView"
            id="org.cc.dam.ImportFileView"
            name="Import File"/>
      <view
            class="org.cc.dam.DatabaseView"
            id="org.cc.dam.DatabaseView"
            name="Browse Database"/>
      <view
            class="org.cc.dam.QueryView"
            id="org.cc.dam.QueryView"
            name="Query Database"/>
   </extension>

</plugin>
